
# Playwright
node_modules/
/test-results/
/playwright-report/
/allure-results/
/blob-report/
/playwright/.cache/
envConfig.json
envConfig.d.json
/dist/

### IntelliJ IDEA ###
.idea/

### MacOS ###
.DS_Store